*{
    margin: 0;
}
header{
height: 200px;
background-image: url(imgs/img1.jpg);
 background-size: contain; 
background-repeat: no-repeat;
 /* background-position:;  */
 background-color: rgb(112, 112, 134);
 background-blend-mode: multiply;
}
.blog{
    background-color: aquamarine;
    color: brown;
    border: 5px solid rgb(153, 51, 136);
    border-radius: 20px;
   margin: 10px;
   padding: 10px;}

   /* this is comment */